article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

body {
  margin: 0;
}

a {
  background: transparent;
}

a:focus {
  outline: thin dotted;
}

a:hover, a:active {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0em 0;
}

h3 {
  font-size: 1.17em;
  margin: 0em 0;
}

h4 {
  font-size: 1em;
  margin: 0em 0;
}

h5 {
  font-size: 0.83em;
  margin: 0em 0;
}

h6 {
  font-size: 0.75em;
  margin: 0em 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

q:before, q:after {
  content: '';
  content: none;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button, input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

@font-face {
  font-family: 'gotham-bolt';
  src: url("gotham-bolt"), url("../fonts/gothambold1.ttf") format("ttf"), url("../fonts/gothambold1.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'gotham-medium';
  src: url("gotham-medium"), url("../fonts/GothamMediumRegular.ttf") format("ttf"), url("../fonts/gotham-medium-webfont.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'gotham-book';
  src: url("gotham-book"), url("../fonts/GothamBook.ttf") format("ttf"), url("../fonts/GothamBook.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'OpenSans-italic';
  src: url("OpenSans-italic"), url("../fonts/OpenSans-Italic.ttf") format("ttf"), url("../fonts/OpenSans-Italic.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'OpenSans-Regular';
  src: url("OpenSans-Regular"), url("../fonts/OpenSans-Regular.ttf") format("ttf"), url("../fonts/OpenSans-Regular.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}

label {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}

h2 {
  font-size: 44px;
  font-family: "gotham-bolt";
  color: #2c4058;
  text-transform: uppercase;
  text-align: center;
  padding: 140px 0 100px 0;
}

h3 {
  font-size: 44px;
  font-family: "gotham-medium";
  color: white;
  text-transform: uppercase;
  text-align: center;
  padding: 140px 0 100px 0;
}

h4 {
  text-transform: uppercase;
  font-size: 22px;
}

button {
  text-transform: uppercase;
  max-width: 200px;
  height: 50px;
  background-color: white;
  border: 1px solid #2c4058;
}

button:hover {
  transform: scale(1.3);
  transition: 0.5s;
  background-color: #2c4058;
  color: white;
}

#inst {
  fill: white;
}

#facebook {
  fill: white;
}

#twitter {
  fill: white;
}

svg:hover {
  fill: blue;
  transform: scale(1.2);
  transition: 0.5s;
}

.rectangle {
  border: 1px solid white;
  border-radius: 50%;
  padding: 10px;
}

.box {
  padding: 0 5%;
}

.header {
  height: 100vh;
}

.header__menu {
  width: 100%;
  z-index: 3;
  position: absolute;
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  align-items: center;
  transition: 0.2s;
}

.header__logo {
  fill: white;
}

.header__radio {
  display: none;
}

.header__fakeRadio {
  margin-right: 5px;
  display: inline-block;
  width: 10px;
  height: 10px;
  border: 1px solid white;
  border-radius: 50%;
  position: relative;
}

.header__fakeRadio::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  border: 1px solid white;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 10px;
  height: 10px;
  background-color: white;
  opacity: 0;
  transition: .5s;
}

.header__radio:checked + .header__fakeRadio::before {
  opacity: 1;
}

.wwd {
  display: flex;
  justify-content: space-between;
  margin: 180px 0 0 0;
}

.wwd .small-title {
  text-transform: uppercase;
  color: #2c4058;
  font-size: 22px;
  padding: 25px 0 5px 0;
}

.wwd p {
  letter-spacing: 1.5px;
  color: #2c4058;
  padding: 35px 0 40px 0;
  font-size: 18px;
}

.wwd span {
  color: #2c4058;
  font-size: 18px;
  padding-top: 55px;
}

.wwd h5 {
  text-transform: uppercase;
  color: #2c4058;
  font-size: 44px;
}

.wwd__text {
  display: flex;
  flex-direction: column;
}

.wwd:nth-child(3) {
  padding-bottom: 140px;
}

.hInfo {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -320px;
  color: white;
  font-size: 20px;
  z-index: 1;
  text-align: center;
}

.hInfo__title {
  font-size: 80px;
}

.hInfo__text {
  font-size: 18px;
}

.row {
  padding: 10px;
  position: absolute;
  bottom: 10%;
  left: 49%;
  border: 1px solid white;
  border-radius: 50%;
}

.news {
  background: url(../img/bg_news.png);
  background-size: cover;
  background-position: center;
}

.gallery {
  text-align: center;
  padding-bottom: 60px;
}

.gallery h3 {
  font-size: 44px;
  font-family: "gotham-medium";
  color: #2c4058;
  text-transform: uppercase;
  text-align: center;
  padding: 140px 0 100px 0;
}

.gallery__box {
  display: flex;
}

.gallery__photo img {
  width: 100%;
  height: 49%;
  padding: 5px;
}

.gallery__button {
  margin-top: 60px;
  padding: 10px 40px;
}

.map {
  width: 600px;
}

#map {
  height: 700px;
}

.form {
  position: relative;
  top: -250px;
  width: 40%;
  height: 500px;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
}

.form__info {
  background: url(../img/city.png) no-repeat;
  background-position: center;
  display: flex;
  justify-content: space-between;
}

.form__info__text {
  font-family: 'gotham-book';
  width: 45%;
}

.form__info__text p {
  padding: 20px 0px 20px 50px;
}

.form__info__input {
  width: 40%;
  margin-top: 10px;
}

.form__info__input input {
  border: none;
  border-bottom: 1px solid #2c4058;
  padding: 10px 0;
}

.form h3 {
  padding: 100px 0 60px 0px;
}

.form__info__input button {
  width: 150px;
}

.form__input:not(:first-child) {
  margin-top: 43px;
}

.form__input {
  float: right;
  margin-right: 80px;
}

.footer {
  padding: 0% 5%;
  background: url(../img/Frame.png) no-repeat;
  background-position: center;
  background-size: cover;
}

.footer h3 {
  color: #2c4058;
}

.footer__info {
  top: -250px;
  position: relative;
  padding: 0 25%;
}

.copyright {
  position: relative;
  text-align: center;
  color: white;
  top: -250px;
}

.slick-slider {
  max-width: 100%;
}

.slider__item img {
  width: 100%;
  height: 100vh;
}

.slick-list {
  height: 100%;
  overflow: hidden;
}

.slick-track {
  min-width: 0;
  display: flex;
}

.single-item .slider {
  position: relative;
}

.single-item .slider_item {
  width: 100%;
}

.single-item .slick-dots {
  position: absolute;
  right: 3%;
  top: 30%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.single-item .slick-dots li {
  list-style-type: none;
  margin: 25px 0px;
}

.single-item .slick-dots button {
  font-size: 0px;
  width: 10px;
  height: 10px;
  background-color: transparent;
  border-radius: 50%;
  border: solid 2px white;
}

.single-item .slick-active button {
  background-color: white;
}

.single-item-second {
  display: flex;
  align-items: center;
}

.slider__item__second {
  display: flex;
  flex-direction: column;
}

.slider__info {
  background-color: white;
  width: 350px;
  padding: 10px 0 10px 10px;
}

.slider__info__text {
  padding: 20px 0 40px 0;
  font-size: 18px;
}

.profile {
  display: flex;
}

.profile__text {
  margin: 10px 0 0 10px;
  display: flex;
  flex-direction: column;
}

.profile__text {
  text-transform: uppercase;
}

.profile__data {
  margin-top: 5px;
  color: #55b7ff;
  font-size: 14px;
}

.slider__item__second img {
  height: 350px;
  width: 350px;
}

.single-item-second .slick-dots {
  position: relative;
  right: 48%;
  padding: 758px 0 50px 0;
  display: flex;
  justify-content: center;
}

.single-item-second .slick-dots li {
  list-style-type: none;
  margin-right: 10px;
}

.single-item-second .slick-dots button {
  font-size: 0px;
  width: 10px;
  height: 10px;
  background-color: transparent;
  border-radius: 50%;
  border: solid 2px white;
}

.single-item-second .slick-active button {
  background-color: white;
}

.single-item-second .slick-arrow {
  position: relative;
  top: 50%;
  z-index: 5;
  font-size: 0;
  height: 30px;
  width: 100px;
  border: 1px white solid;
  border-radius: 50%;
}

.single-item-second .slick-prev {
  left: 0;
  background: url(../img/arrow.png) 0 0/50% no-repeat;
  background-position: center;
  transform: rotate(90deg);
  margin-right: 120px;
}

.single-item-second .slick-next {
  right: 0;
  background: url(../img/arrow.png) 0 0/50% no-repeat;
  background-position: center;
  transform: rotate(-90deg);
}
/*# sourceMappingURL=main.css.map */